@config "../js/main.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Town;
  src: url(../../../assets/landing/fonts/town10.ttf);
}

.landing-wrapper {
	@apply tw-h-[100%]
}

.tw-wrapper{
	@apply tw-container tw-mx-auto tw-flex
}

.tw-statistics-card {
	/* background-color: #ffffff; */
	border: 2px solid;
	@apply tw-rounded-[10px!important] tw-h-[220px!important] tw-flex tw-flex-col tw-justify-between
}

.tw-statistics-bg {
	position: absolute;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: left;
	background-size: 180px;
	@apply tw-h-[100%!important] tw-w-[100%!important] tw-opacity-[0.08] tw-absolute tw-left-[50%]
}

.video-header {
	position: absolute;
	text-align: center;
	width: 100vw;
	height: 100vh;
}

.video-header, .video-header video, .video-header .viewport-header {
	width: 100%;
	height: 90vh;
	position: absolute;
	top: 0;
	left: 0;
}

.video-header video {
	/* background: brown; */
	object-fit: cover;
}

.video-header .viewport-header {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	opacity: 1;
	transform: 1;
}
.splide {
	padding: 0px !important;
}

.splide__pagination {
	/* background-color: #007E7E!important; */
    position: absolute!important;
    bottom: -80px!important;
}
.splide__pagination__page.is-active {
    background: #007E7E!important;
    z-index: 1;
}

.splide__pagination__page {
	background-color: #007e7e95!important;
	padding: 7px!important;
	border-radius: 50%!important;
	width: 14px!important;
}

@media only screen and (max-width: 600px) {
  .splide__arrow.splide__arrow--next{
		width: 1.5rem;
	}

  .splide__arrow.splide__arrow--prev{
		width: 1.5rem;
	}
}

/* START OF TAILWIND BS RESET */
img, video {
	max-width: 100%;
	height: revert-layer;
}

img, svg, video, canvas, audio, iframe, embed, object {
	display: revert-layer;
	vertical-align:  revert-layer;
}
/* END OF TAILWIND BS RESET */

