@import 'custom-variables';
@import 'custom-bootstrap.scss';

* {
	padding: 0;
	margin: 0;
}

body {
  background: #000000;
	color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  -ms-touch-action: none;
  touch-action: none;
  position: relative;
  touch-action: none;
}